<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create</title>
</head>
<body>
    <h1>Add a New User</h1>

    <form action="/add_user" method="post">
        <label for="fname">First Name:</label>
        <input type="text" name="fname">
        <label for="lname">Last Name:</label>
        <input type="text" name="lname">
        <label for="occupation">Occupation:</label>
        <input type="text" name="occupation">
        <input type="submit" value="Create">
    </form>

    <a href="/">Home</a>
</body>
</html>