<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>User {{friend.id}}</h1>
    <div>
        <p>Full Name: {{friend.first_name}} {{friend.last_name}}</p>
        <p>Occupation: {{friend.occupation}}</p>
        <p>Created on: {{friend.created_at}}</p>
        <p>Last Udpated on: {{friend.updated_at}}</p>
    </div>
    <a href="/">Home</a>

</body>
</html>